@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-red{
    @apply border border-red_200 text-red_500 bg-red_50
  }

  .btn-neutral {
    @apply bg-[#FBFDFE] border border-neutral_200 text-gray_400
  }

  .btn-black {
    @apply bg-brand_blue_500 text-white
  }
}

/* Clash grotesck font */
@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Variable.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Variable.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Extralight';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Extralight.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Extralight.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Light';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Light.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Light.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Regular';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Regular.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Regular.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Medium';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Medium.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Medium.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Semibold.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashGrotesk-Bold';
  src: url('../../public/fonts/clash-grotesk/ClashGrotesk-Bold.woff2') format('woff2'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Bold.woff') format('woff'),
       url('../../public/fonts/clash-grotesk/ClashGrotesk-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

/* Inter font */
@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-Bold.woff2') format('woff2'),
       url('../../public/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:  url('../../public/fonts/Inter/Inter-Black.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-Light.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-Medium.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-Thin.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/Inter-Regular.woff2') format('woff2'),
      url('../../public/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
  background: #FFFFFF;
  font-family: Inter;
}

a {
  color: inherit;
  text-decoration: none;
}

